@using MultiTenancy.Entities
@model AdministratePermissionsDTO

<h1>Administrar permisos de @Model.Email</h1>

<form asp-action="Administrate">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="Email" />

    <button type="submit" class="btn btn-primary">Guardar cambios</button>
    <button type="submit" class="btn btn-secondary" onclick="makeSelection(true)">Seleccionar todos</button>
    <button type="submit" class="btn btn-secondary" onclick="makeSelection(false)">Deseleccionar todos</button>

    <ul>
        @for (int i = 0; i < Model.Permissions.Count; i++) {
            <li>
                <input id="permissions[@i].ItHas" name="permissions[@i].ItHas" 
                value="true" type="checkbox"
                @(Model.Permissions[i].ItHas ? "checked" : string.Empty)
                @(Model.Permissions[i].Permission == Permissions.Null ? "disabled" : "")/>

                <input type="hidden" value="@Model.Permissions[i].Permission" name="permissions[@i].permission"/>

                <span>@Model.Permissions[i].Description</span>
            </li>
        }
    </ul>
</form>

@section Scripts {
    <script>
        function makeSelection(checked) {
            const checks = document.querySelectorAll("input[type=checkbox]");

            checks.forEach(check => {
                if (!check.disabled) {
                    check.checked = checked;
                }
            })
        }
    </script>
}